.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Personal Configuration Files ###
**/application-personal.yml
**/application-local.yml
**/application-local-*.yml
**/application-ldk.yml
**/*-secret.yml
**/storage-database-local.yml

### Security Keys ###
**/keys/private-key.pem

### Environment Files ###
.env
.env.*
!.env.example

### Documentation ###
*.md
